---
layout: default
---

<div class="home">

  {% for category in site.categories %}
  <h2>{{ category[0] }}</h2>

  <ul>

  {% assign sorted = category[1] | reverse %}
  {% for post in sorted %}
      <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endfor %}

  <hr style="margin-top: 40px;" />

  <h2 style="padding-top: 40px;">All Articles by Date</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
