/**
 * Site header
 */
.float-left {
    padding: 10px;
    float: left;
    width: 45%;
    @include media-query($on-palm) {
        float: left;
        width: 100%;
        text-align: center;
    }
}
.guide-image{
    width: 175px;
    display: block;
    margin: 0 auto;
}
.intro {
    padding-bottom: 40px;
}
.intro-above {
    padding-top: 30px;
}
.clear {
    clear: both;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.center {
    text-align: center;
}
.site-header {
    font-family: 'Lato', sans-serif;
    border-top: 6px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 80px;

    // Positioning context for the mobile navigation icon
    position: relative;

}

.site-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    @include media-query($on-palm) {
        float: left;
        width: 100%;
        text-align: center;
    }
}

.site-title:link {
    text-decoration: none;
}

.site-title:hover {
    color: #0074D9;
}

.site-nav {
    float: right;
    line-height: 80px;
    font-size: 16px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        text-transform: uppercase;
        text-decoration: none;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    .page-link:hover {
        color: #0074D9;
        padding-bottom: 1px;
        //border-bottom: 2px solid $grey-color-dark;
        border-bottom: 2px solid #0074D9;
    }

    @include media-query($on-palm) {
        border-top: 1px solid $grey-color-light;
        float: left;
        text-align: center;
        width: 100%;
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    padding-top: 20px;
    font-size: $small-font-size;
    color: $grey-color;
}

.author:link {
    text-decoration: none;
    color: $grey-color;
}
.author:visited {
    color: $grey-color;
}
.author:hover {
    color: #0074D9;
    text-decoration: underline;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.post-header {
    padding-bottom: 10px;
    padding-top: 30px;
    margin-bottom: $spacing-unit;
}
.page-header {
    padding-top: 30px;
    margin-bottom: $spacing-unit;
}

.post-title, .page-title {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.page-title {
    text-align: center;
}
.post-title {
    padding-bottom: 10px;
}
.post-line {
    border-top: 1px dotted $grey-color-dark;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
